<mat-card *ngIf="data$ | async as data">
  <h2>Tags</h2>
  <mat-list>
    <app-sidebar-list-item *ngFor="let tag of data.tags"
      [text]="tag.name"
      [icon]="'folder'"
      [emitData]="tag.id"
    ></app-sidebar-list-item>
  </mat-list>
  <h2 class="pad">Dev info</h2>
  <div>
    <div><strong>Approach: </strong>declarative (reactive RxJS)</div>
    <div><strong>Forms: </strong>reactive</div>
    <div><strong>Archit.: </strong>lazy loading, containers, redux</div>
    <div><strong>Redux: </strong>@ngrx/store, @ngrx/data, @ngrx/router, @ngrx/entity</div>
  </div>

</mat-card>
