<div class="row">
  <ng-container *ngIf="data$ | async as data">

    <ng-template [ngIf]="data.blogPostsPerPage && !data.blogPostsLoading" [ngIfElse]="spinner">
      <div class="offset-2 col-8 pb-5" *ngFor="let post of data.blogPostsPerPage">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ post.title }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="post.thumbnail" alt="">
          <mat-card-content>
            <p>{{post.detail }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onSelectBlogPost(post.id, EBlogModes.READ)">
              DETAIL
            </button>
            <button mat-stroked-button color="primary" (click)="onSelectBlogPost(post.id, EBlogModes.EDIT)">EDIT</button>
          </mat-card-actions>
          <mat-card-content *ngIf="post.tags.length">
            <mat-chip-list>
              <mat-chip *ngFor="let tagId of post.tags">
                <ng-container *ngIf="data.tagsById[tagId]">
                  {{ data.tagsById[tagId].name }}
                </ng-container>
              </mat-chip>
            </mat-chip-list>
          </mat-card-content>

        </mat-card>
      </div>
      <div class="offset-3 col-6">
        <mat-paginator
          [length]="data.blogPostsTotal"
          [pageSize]="5"
          [hidePageSize]="true"
          aria-label="Select page"
          (page)="onSelectPage($event)"
        >
        </mat-paginator>
      </div>


    </ng-template>

    <ng-template #spinner>
      <div class="col">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

   </ng-container>
</div>
