<ng-container *ngIf="data$ | async as data">

<mat-card>
  <div class="text-right">
    <button mat-stroked-button (click)="onGoBack()">ZPĚT</button>
  </div>
  <mat-card-header>
    <mat-card-title>{{ data.selectedBlogPost?.title }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="data.selectedBlogPost?.image" alt="">
  <mat-card-content>
    <p>{{ data.selectedBlogPost?.text }}</p>
  </mat-card-content>
  <mat-card-content *ngIf="data.selectedBlogPost?.tags?.length">
    <mat-chip-list>
      <mat-chip *ngFor="let tagId of data.selectedBlogPost?.tags">
        <ng-container *ngIf="data.tagsById[tagId]">
          {{ data.tagsById[tagId].name }}
        </ng-container>
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>
<ng-template #spinner>
  <div class="col">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

</ng-container>
